.head{
    text-align: center;
     margin-top: 100px;
     font-weight: bold;

}
.put-email{
    margin-left: 35%;
    font-size: 20px;
}
#email{
    font-size: 15px;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 20px;
    
}
#btnbtn-primary{
    margin-top: 20px;
    
}

#btnbtn-primary{
width: 30%;
margin-left: 35%; 
background-color: #4C7DFB;
height: 60px;
border-radius: 10px;
}