.button-home{
justify-content: space-around;
display: flex;
padding: 50px;
height: 50px;

}
.button-home button{
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
}
h2{
  text-align: center;
}
.reaction{
  margin-left: 23%;
}
input {
  height: 40px;
  width: 1000px;
  border-radius: 5px;
}
textarea{
  width: 1000px;
  border-radius: 5px;
}
#submit{
  margin-left: 61% ;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  align-self: center;
  border-radius: 10px;
  background-color: #4C7DFB;
}
.reaction-comment{
  width: 1000px;
  height: 200px;
border: 2px solid rgb(196, 194, 194);
/* color: black; */
/* background-color: black; */
}
.comment{
  width: 90%;
  margin-left: 20px;
}
.email-user{
  font-weight: bold;
}
