.button-home{
justify-content: space-around;
display: flex;
padding: 50px;
height: 50px;

}
.comment-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust as needed */
  border: 1px solid #ccc; /* Border for the comment container */
  padding: 10px;
  margin-bottom: 20px; /* Margin between comment boxes */
  border-radius: 10px;
}

.button-home button{
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
}
h2{
  text-align: center;
}
.reaction{
  margin-left: 23%;
}
input {
  height: 40px;
  width: 1000px;
  border-radius: 5px;
}
textarea{
  width: 1000px;
  border-radius: 5px;
}
.fa-star.checked {
  color: #F6C07F; /* Set the color of checked stars */
}
#submit{
  margin-left: 61% ;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  align-self: center;
  border-radius: 10px;
  background-color: #4C7DFB;
}
.reaction-comment{
  width: 1000px;
  height: 200px;

}
.comment{
  width: 90%;
  margin-left: 20px;
}
.email-user{
  font-weight: bold;
}
